.error {
    border: 1px solid red;
    color: red;
    font-weight: bold;
}

fieldset {
    border: 0;
    margin: 1rem;
}

fieldset legend {
    font-size: small;
    font-style: italic;
    font-weight: normal;
}